.site_footer {
    display: flex;
    border-top: 1px solid black;
    justify-content: space-between;
    padding: 0.3em 1em;
}

.fa-greater-than {
    font-size: 0.6em;
}


.file_route span::after {
    content: ".py";
}

.file_route span::before {
    content: "";
    display: inline-block;
    background: url('../images/Python-logo-notext.svg.png') no-repeat;
    background-size: 0.8em;
    width: 0.8em;
    height: 0.8em;
    padding-right: 18px;
}
