* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Georgia, serif;
}

body {
    font: inherit;
    background: rgb(238, 238, 238);
    padding: 2em;
}



img {
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid black;
    padding: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.5);
}

section .vertical-img {
    width: 60%;
}

section .horizontal-img {
    width: 75%;
}



.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 95vw;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid black;
    line-height: 1.5em;
}


h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

section {
    margin: 2em 0;
}

main h1, main h2 {
    margin: 1.5em 0 0.5em 0;
}


header > p {
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1em;
}

main p {
    margin: 1em 0;
}

blockquote {
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    padding-left: 1.5em;
    margin-left: 3.5em;


}

blockquote .author {
    text-align: right;
    margin: 1.5em;
}

aside h3 {
    margin-top: 1em;
}

aside ul {
    list-style: inside;
}

aside li {
    margin-left: 1em;
}

aside a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

@media (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }

    section h1 {
        margin: 0.7em 0;
    }

    main {
        flex: 0 0 75%;
    }

    section .vertical-img {
        width: 30%;
    }

    section .horizontal-img {
        width: 35%;
    }

    aside {
        flex: 0 0 auto;
        margin-left: 5em;
    }

    .align-left {
        float: left;
        margin-right: 1em;
        margin-bottom: 0.5em;
    }

    .align-right {
        float: right;
        margin-left: 1em;
        margin-bottom: 0.5em;
    }

    blockquote {
        width: 40%;
        float: right;
        margin-left: 1em;
    }

}


@media (min-width: 800px) {
    html {
        font-size: 18px;
    }

    .page {
        flex-direction: row;
    }

    header {
        flex: 1 1 100%;
    }

    main {
        flex: 1 1 65%;
    }

    aside {
        flex: 1 1 auto;
        margin-left: 1.5em;
    }
}


@media (min-width: 1300px) {
    html {
        font-size: 21px;
    }

    aside {
        margin-left: 2.5em;
    }

    main {
        flex: 1 1 75%;
    }
}


@media (min-width: 1800px) {
    html {
        font-size: 23px;
    }
}

