* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
}

body {
    margin: 1em;
}

header, aside, main, footer {
    background: #5bc0de;
    padding: 1em;
    border-radius: 0.2em;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

header h1 {
    align-self: start;
}

.main_nav ul li {
    list-style: none;
    margin: 2.5em 0;
}

.main_nav ul {
    margin: 0;
    padding: 0;
}

.main_nav a {
    display: block;
    padding-left: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

aside nav li {
    margin-bottom: 1em;
}

ul {
    list-style-position: inside;
}

nav li {
    text-decoration: none;
}

main ul {
    padding-left: 2em;
}

a {
    text-decoration: none;
}

main ul {
    margin: 2em 0 1em 0;
}

@media (min-width: 500px) {

    header {
        flex-direction: row;
        align-items: end;
        padding-bottom: 2em;
    }

    header h1 {
        align-self: center;
        padding: 0;
        line-height: 1;
    }


    .main_nav ul li {
        list-style: none;
        /*margin:  0 1.5em;*/
        margin: 0;
        flex: 1 1 auto;

    }

    .main_nav {
        flex-shrink: 1;
        width: 400px;
    }

    .main_nav ul {
        display: flex;
        margin-left: 2em;



    }


    body {
        flex-direction: row;
    }

    header, footer {
        flex: 1 1 100%;
    }

    main {
        flex: auto;
    }

    aside {
        width: 150px;
    }
}



