main    {
    width: 900px;
    height: 410px;
}

img   {
    border: solid #d1d1d1;
    border-width: 0 1px 1px 0;
    margin-right: 19px;
    padding-bottom: 19px;
    padding-right: 19px;
    float: left;
}

p   {
    font-size: 20px;
    line-height: 30px;
    color: #2e2e2e;
    text-align: justify;
}