/*.main-nav {*/
/*    display: none;*/
/*}*/

/*.main-nav ul {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    display: flex;*/
/*}*/

/*.main-nav li {*/
/*    display: block;*/
/*    list-style: none outside;*/
/*    line-height: 1;*/
/*    border-left: 1px solid var(--clr-border-layout);*/
/*}*/

/*.main-nav li:nth-last-child(2) {*/
/*    border-right: 1px solid var(--clr-border-layout);*/
/*}*/

/*.main-nav li:last-child {*/
/*    margin-left: auto;*/
/*}*/

/*.main-nav li a {*/
/*    display: block;*/
/*    padding: 0.8em 1em;*/
/*    text-decoration: none;*/
/*    position: relative;*/
/*}*/

/*.main-nav li a:focus,*/
/*.main-nav li a:hover {*/
/*    background-color: rgb(255,255,255,0.1);*/
/*}*/



/*.main-nav li a::before {*/
/*    display: inline-block;*/
/*    content: "_";*/
/*}*/

/*.main-nav li.selected a {*/
/*    color: #fff;*/
/*}*/

/*.main-nav li.selected a::after {*/
/*    display: block;*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background-color: #FEA55F;*/
/*    position: absolute;*/
/*    top: calc( 100% - 1px );*/
/*    left: 0;*/
/*}*/


/*.main-nav li a:active {*/
/*    background: #fff;*/
/*    color: #000;*/
/*}*/

/*@media (min-width: 800px) {*/
/*    .main-nav {*/
/*        display: block;*/
/*    }*/
/*}*/




.navigation li {
    list-style: none inside none;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: whitesmoke;

}

.fake_navigation, .fake_navigation ul {
    display: flex;
    gap: 1em;
    padding: 0 0;
}




.fake_navigation {
    background-color: #3C3F41;
    border-bottom: 1px solid #181818;
}

.navigation a span {
    display: inline-block;
    border-bottom: 2px solid whitesmoke;
    line-height: 0.8em;
}

.fake_navigation  ul{
    align-items: center;
}

.fake_navigation li {
    font-size: 14px;
    letter-spacing: -1px;
}

.fake_navigation .windows_tools {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.pycharm_navigation a {
    display: block;
}

.windows_tools div {
    padding: 0.3em 1em;
    font-size: 14px;
}

.windows_tools div:hover {
    background-color: #5c5a5a;
}

/*.windows_tools .close {*/
/*    padding-right: 15px;*/
/*}*/

.windows_tools .close:hover {
    background-color: #95191a;
}


@media (max-width: 730px) {

    .pycharm_logo_container {
        width: 15px;
    }

    .fake_navigation {
        font-size: 10px;
    }

    .fake_navigation ul {
        gap: 0.5em;
    }
    .fake_navigation ul a {
        font-size: 12px;
        letter-spacing: -1px;
    }

    .windows_tools div {
        font-size: 10px;
    }
}

@media (max-width: 550px) {
    .fake_navigation li {
        display: none;
    }
}